<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>What I learned</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css">
        <script src="main.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            
            <div class="list-group">
                <a href="personalInfo.html" class="list-group-item list-group-item-action">Personal Information</a>
            </div>
                                    
            <div class="row"><!--row, grid, column-->
                <div class="col-sm-3">Personal Information</div>
                <div class="col-sm-3">Academic History</div>
                <div class="col-sm-3">Employment History</div>
                <div class="col-sm-3">Personal Qualifications</div>
            </div>

            He was born in <span class="bg-danger text-white">Vietnam</span><!--Colors-->

           
            <!--Button-->
            <a href="https://www.facebook.com/nguyenhaiphuonghp" class="btn btn-info btn-block" role="button" target="_blank">
                Connect with Henry on Facebook
            </a>

            <!--Pagination-->
            <h4>Hobbies</h4>
            <ul class="pagination justify-content-end" id="end-of-page">
                <li class="page-item">
                    <a class="page-link" href="#top-of-page">
                        Previous
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="https://www.youtube.com/channel/UCw4Sy8vz5Gv8Eoixohnb1IQ?view_as=subscriber" target="_blank">
                        1
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="https://www.facebook.com/nguyenhaiphuonghp" target="_blank">
                        2
                    </a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#end-of-page">
                        Next
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>