{% extends "layout.html" %}

{% block title %}
    Education
{% endblock %}

{% block body %}
    
    <ul class="breadcrumb"><!--Breadcrumb-->
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Education</li>
    </ul>

    <table class="table table-bordered table-hover"><!--table-->
        <thead class="table-info text-center">
            <tr>
                <th>Year</th>
                <th>School</th>
                <th>Media</th>
            </tr>
        </thead>
        <tbody class="table-active text-center">
            <tr>
                <td>1997</td>
                <td>Nguyen Ba Ngoc Primary School</td>
                <td>
                    <div class="btn-group"><!--Button groups with drop down subgroups-->
                        <a href="https://www.facebook.com/pages/Ti%E1%BB%83u-H%E1%BB%8Dc-
                        Nguy%E1%BB%85n-B%C3%A1-Ng%E1%BB%8Dc-Qu%E1%BA%ADn-Ba-%C4%90%C3%ACnh/659583937489718" 
                        class="btn btn-info" role="button" target="_blank">
                            Website
                        </a>
                        <div class="btn-group"><!--Button with dropdown-->
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                Google Media
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://www.google.com.au/search?newwindow=1&tbm=isch&
                                source=hp&biw=1536&bih=738&ei=KzR5XPXAHYmA9QOrxYygCw&q=nguyen+ba+ngoc+primary+school&
                                oq=nguy&gs_l=img.3.0.35i39j0l9.1520.2438..3751...0.0..0.341.983.0j2j1j1......1....1..
                                gws-wiz-img.....0.EVAm_uX7QfU" target="_blank">
                                    Google Images
                                </a>
                                <a class="dropdown-item" href="https://www.google.com/search?q=nguyen+ba+ngoc+primary+
                                school&newwindow=1&source=lnms&tbm=vid&sa=X&ved=0ahUKEwjN9NmpiOHgAhVRXn0KHQ6uBfkQ_AUIE
                                SgE&biw=1536&bih=738&dpr=1.25" target="_blank">
                                    Google Videos
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2002</td>
                <td>Thang Long Secondary School</td>
                <td>
                    <div class="btn-group"><!--Button groups with drop down subgroups-->
                        <a href="http://www.thanglongbadinh.edu.vn/" 
                        class="btn btn-info" role="button" target="_blank">
                            Website
                        </a>
                        <div class="btn-group"><!--Button with dropdown-->
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                Google Media
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://www.google.com.au/search?newwindow=1&biw=1536&bih=738&tbm=isch&
                                sa=1&ei=1-GBXLKoLZTEz7sP4YehgAY&q=thang+long+secondary+school&oq=thang+long+secondary+school&gs_l=img.
                                12...0.0..5232...0.0..0.0.0.......1......gws-wiz-img.4hcuLVZFNBU" target="_blank">
                                    Google Images
                                </a>
                                <a class="dropdown-item" href="https://www.google.com/search?newwindow=1&biw=1536&bih=738&tbm=vid&ei=
                                AkOCXMfXI8Ko9QO4lrHYAw&q=thang+long+secondary+school&oq=thang+long+secondary+school&gs_l=psy-ab.3..33i
                                21k1.10552.15672.0.15908.29.19.0.0.0.0.581.2815.2-2j2j1j2.7.0....0...1c.1.64.psy-ab..23.4.1305...0j0i1
                                0k1j0i203k1.0.2gOXXbmdm28" target="_blank">
                                    Google Videos
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2006</td>
                <td>Foreign Language Specialised School</td>
                <td>
                    <div class="btn-group"><!--Button groups with drop down subgroups-->
                        <a href="http://flss.vnu.edu.vn/" 
                        class="btn btn-info" role="button" target="_blank">
                            Website
                        </a>
                        <div class="btn-group"><!--Button with dropdown-->
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                Google Media
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://www.google.com/search?newwindow=1&biw=1536&bih=738&tbm=isch&sa=1&
                                ei=NkSCXPaiHd3fz7sP84G3kA4&q=foreign+language+specialized+school+hanoi&oq=foreign+language+specialized+s&
                                gs_l=img.1.1.0i24l2.49948.58538..60017...2.0..0.305.6514.0j21j10j1......1....1..gws-wiz-img.......35i39j0
                                j0i67j0i10i24j0i8i30.P_-9Y4QDsm0" target="_blank">
                                    Google Images
                                </a>
                                <a class="dropdown-item" href="https://www.google.com/search?q=foreign+language+specialized+school+hanoi&
                                newwindow=1&source=lnms&tbm=vid&sa=X&ved=0ahUKEwjfyeHYq_LgAhUTXysKHRDEC6UQ_AUIEygA&biw=1536&bih=738" target="_blank">
                                    Google Videos
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="sticky"><!--Sticky element, more at https://www.w3schools.com/howto/howto_css_sticky_element.asp-->
        <div class="wrapper">
            <div class="dropup"><!--Dropdown button-->
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    Viewport Choice
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <h5 class="dropdown-header">For Desktop Devices</h5>
                    <a class="dropdown-item" href="/education">Desktop View</a>
                    <div class="dropdown-divider"></div>
                    <h5 class="dropdown-header">For Mobile Devices</h5>
                    <a class="dropdown-item" href="/education">Mobile View</a>
                </div>
                
            </div>
        </div>
    </div>

    
{% endblock %}